{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <div>
    <span>{% if error %}
            {{ error.messageKey|trans(error.messageData, 'security') }}
            <hr class="b-hr" />
        {% endif %}</span>
    </div>

    <div class="contact-form margin-top">

        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <label> <span>{{ 'security.login.username'|trans }}</span>
            <input type="text" id="username" name="_username" class="input_text" value="{{ last_username }}" required="required" />
        </label>

        <label> <span>{{ 'security.login.password'|trans }}</span>
            <input type="password" id="password" name="_password" class="input_text" required="required" />
        </label>

        <label> <span>{{ 'security.login.remember_me'|trans }}</span>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        </label>

        <input type="submit" class="button" value="{{ 'security.login.submit'|trans }}" />

    </div>
</form>
